<section class="about {% if include.extra_class %} {{include.extra_class}} {% endif %} bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2 class="title wow animated fadeIn" data-wow-delay="1.0s" style="margin-top: 40px;">Немного о нас</h2>
        <p class="wow animated fadeIn" data-wow-delay="1.5s">Здравствуйте! Меня зовут Евгения, я — модельер-конструктор и сооснователь нашего ателье-мастерской. Одеждой я начала увлекаться ещё в юности. Образование у меня профильное - окончила Колледж Декоративно-Прикладного Искусства имени Карла Фаберже, а так же Московский Государственный Университет Дизайна и Технологии. Наше ателье работает задействуя всю цепочку — от эскиза и подбора материалов, до образцов и готовых изделий. Как с индивидуальным пошивом, так и с небольшими партиями для начинающих дизайнеров. Дело своё очень люблю и буду рада помочь воплотить в жизнь вещь вашей мечты!</p>
      </div>
      <div class="col-md-5">
        <img src="{{ '/assets/images/zhmayeva/about_us.jpg' | relative_url}}" alt="about" class="img-fluid wow animated fadeIn" data-wow-delay="0.5s"/>
      </div>
    </div>
  </div>
</section>
