<footer class="spotlight-footer bg-semi-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <a href="{{site.url}}{{site.baseurl}}/"><img src="{{'/assets/images/zhmayeva/zhmayeva_atelier_website_top.svg' | relative_url}}" style="max-width: 300px; width: 300px;" alt="logo"/></a>
        <p>© 2022 Ателье Жмаева – ателье-мастерская <br>в Москве.</p>
        <p> Информация на сайте не является публичной офертой.</p>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</footer>
