<section class="holmes cover-container d-flex h-86.5 px-3 mx-auto flex-column">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="wow animated fadeInUp" data-wow-delay="0.5s">Become a part <br>of this neat crew</h2>
        <h1 class="wow animated fadeInUp" data-wow-delay="1.0s">BellaTrix</h1>
        <span class="wow animated fadeInUp" data-wow-delay="1.5s">
          <img src="{{relative_url}}/assets/images/holmes-slider.png" alt="holmes-slider" class="img-fluid">
        </span>
      </div>
    </div>
  </div>
</section>
