<section class="cover-container d-flex h-86.5 mx-auto flex-column">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="wow animated fadeInUp" data-wow-delay="0.6s" style="margin-top:40px">Ателье-мастерская<br>в Москве</h2>
        <span class="wow animated fadeInUp" data-wow-delay="1.5s">
          <img src="{{'/assets/images/holmes-slider.png' | relative_url}}" alt="holmes-slider" class="img-fluid">
        </span>
      </div>
    </div>
  </div>
</section>
