<section class="parralax">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul id="scene">
          <li class="layer" data-depth=".1"><img src="{{'/assets/images/text.png' | relative_url}}" alt="parralax" class="img-fluid"/></li>
          <li class="layer" data-depth="1"><img src="{{'/assets/images/planet1.png' | relative_url}}" alt="parralax" class="img-fluid"/></li>
          <li class="layer" data-depth="-1"><img src="{{'/assets/images/planet2.png' | relative_url}}" alt="parralax" class="img-fluid"/></li>
          <li class="layer" data-depth="2"><img src="{{'/assets/images/astronaut.png' | relative_url}}" alt="parralax" class="img-fluid"/></li>
          <li class="layer" data-depth="0.5"><img src="{{'/assets/images/rocket.png' | relative_url}}" alt="parralax" class="img-fluid"/></li>
        </ul>
      </div>
    </div>
  </div>
</section>