<section class="team {% if include.extra_class %}{{include.extra_class}}{% endif %}" id="team-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="title">Our experts at your service</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-3 col-sm-6">
        <div class="teams wow animated fadeInUp" data-wow-delay="0.2s">
          <img src="{{'/assets/images/team1.jpg' | relative_url}}" alt="team" class="img-fluid">
          <div class="overlay">
            <div class="social">
              <a href="#"><i class="lni lni-facebook-filled"></i></a>
              <a href="#"><i class="lni lni-twitter-original"></i></a>
              <a href="#"><i class="lni lni-linkedin-original"></i></a>
            </div>
          </div>
          <h5>MARIL DEAN</h5>
          <p>Art Director</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="teams wow animated fadeInUp" data-wow-delay="0.4s">
          <img src="{{'/assets/images/team2.jpg' | relative_url}}" alt="team" class="img-fluid">
          <div class="overlay">
            <div class="social">
              <a href="#"><i class="lni lni-facebook-filled"></i></a>
              <a href="#"><i class="lni lni-twitter-original"></i></a>
              <a href="#"><i class="lni lni-linkedin-original"></i></a>
            </div>
          </div>
          <h5>LOUIS HOWELL</h5>
          <p>Art Director</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="teams wow animated fadeInUp" data-wow-delay="0.6s">

          <img src="{{'/assets/images/team3.jpg' | relative_url}}" alt="team" class="img-fluid">

          <div class="overlay">
            <div class="social">
              <a href="#"><i class="lni lni-facebook-filled"></i></a>
              <a href="#"><i class="lni lni-twitter-original"></i></a>
              <a href="#"><i class="lni lni-linkedin-original"></i></a>
            </div>
          </div>
          <h5>ROGER BARNETT</h5>
          <p>Art Director</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="teams wow animated fadeInUp" data-wow-delay="0.8s">

          <img src="{{'/assets/images/team4.jpg' | relative_url}}" alt="team" class="img-fluid">

          <div class="overlay">
            <div class="social">
              <a href="#"><i class="lni lni-facebook-filled"></i></a>
              <a href="#"><i class="lni lni-twitter-original"></i></a>
              <a href="#"><i class="lni lni-linkedin-original"></i></a>
            </div>
          </div>
          <h5>JOHN BREWER</h5>
          <p>Art Director</p>
        </div>
      </div>
    </div>
  </div>
</section>